@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #232737;
  position: relative;
  padding-bottom: 50px;
  overflow-x: hidden!important;
}

@media (max-width: 456px){
  body{
    padding-bottom: 70px;
  }
}
